language: go

sudo: false

go:
  - 1.7
  - 1.8

before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - go get github.com/bmizerany/assert
  - if ! go get github.com/golang/tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi

script:
  - go get -d ./...
  - go get -tags n1ql -d ./...
  - make test
  - $HOME/gopath/bin/goveralls -service=travis-ci -package github.com/prataprc/gson
